<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="../../static/css/home.css">
</head>
<body>
    <div class="sidebar">
        <div class="title-name">
            <img src="../../static/img/ms.png">
            <p>千羽餐饮系统</p>
        </div>
        <ul>
            <li>首页</li>
            <li>产品</li>
            <li>关于我们</li>
            <li>联系方式</li>
        </ul>
    </div>
    <div class="content">
        <h2>主体内容</h2>
        <p>主体内容区域</p>
    </div>
</body>
</html>