body {
    background: url(../img/WechatIMG514.png) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.deng {
    width: 50%;
    height: 400px;
    background-color: red;
    position: absolute;
    border-radius: 30px;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.deng-an {
    width: 40%;
    height: 400px;
    background-color: white;
    border-radius: 30px;
    float: left;
}

.deng-an > .div1 {
    background-image: url('../img/qian.jpg');
    background-position: center;
    background-size: cover;
    display: block;
    width: 100%;
    height: 400px;
    color: #ef0505;
    border-radius: 30px;
    text-align: center;
}
.deng-an > .div1 > a{
    width: 30%;
    height: 30px;
    background-color: #08daee;
    display: inline-block;
    margin-top: 320px;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    border-radius: 30px;
    color: black;
}


.deng-input {
    width: 60%;
    height: 400px;
    float: right;
    border-radius: 30px;
    background-color: red;

}
.deng-title {
    display: block;
    width: 100%;
    height: 0;
    text-align: center;
    line-height: 180px;
    font-size: 35px;
    color: white;
}
.deng-text {
    display: block;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 350px;
}
.submit {
    width: 200px;
    height: 32px;
    border: none;
    border-radius: 15px;
    list-style: none;
    background-color: #08daee;
    cursor: pointer;

}
.submit:active {
    background-color: #a49898;
}
.deng-text>label{
    color: white;
}
.deng-text>label>input{
    width: 300px;
    height: 32px;
    border: none;
    font-size: 15px;
    border-radius: 15px;
    background-color: #f5f4f4;
}
input {
    outline: none;
}
button {
    outline: none;
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none; /* 默认不显示遮罩层 */
}

#myModal {
    margin: 0;
    display: none; /* 默认隐藏弹窗 */
    position: fixed; /* 固定弹窗位置 */
    left: 700px;
    top: 10%;
    width: 500px;
    height: 100px;
    background-color: #f5f4f4;
    border: 1px solid #faf8fa;
    padding: 20px;
    zindex: 1; /* 确保弹窗在其他元素之上 */
    text-align: center;
}
.clo {
    position: absolute;
    width: 500px;
    height: 32px;
    border-radius: 30px;
    background-color: #08daee;
    top: 70%;
    align-content: center;
}
.clo>button {
    width: 100%;
    height: 32px;
    border: none;
    border-radius: 15px;
    list-style: none;
    background-color: #08daee;
    cursor: pointer;
    left: auto;
}