<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>千羽餐饮集团-登录</title>
    <link rel="stylesheet" href="../../static/css/login.css">
    <script type="text/javascript" src="../../static/js/login.js"></script>
</head>
<body>

<div class="deng">
    <div class="an">
        <div class="deng-an">
            <div class="div1"><a href="#" id="btn1" onclick="changeContent()">注册</a></div>
        </div>
        <div class="deng-input">
            <div class="deng-title">千羽餐饮集团</div>
            <form>
                <div class="deng-text">
                    <label>
                        账号：<input type="text" placeholder="请输入用户名" name="username">
                    </label>
                </div>
                <div class="deng-text">
                    <label>
                        密码：<input type="password" placeholder="请输入密码" name="password">
                    </label>
                </div>
            </form>
            <div class="deng-text">
                <button class="submit" id="btn2" onclick="oneValue()">登录</button>
            </div>
        </div>
    </div>
</div>
<div id="overlay">
    <div id="myModal" class="qwe">
        <div class="clo">
            <button onclick="closeModal()">关闭弹窗</button>
        </div>
        <div id="err"></div>

    </div>
</div>
</body>
</html>